* {
    box-sizing: border-box;
}

body {
    font-family: Arial,serif;
    padding: 10px;
    background: #f1f1f1;
    overflow: auto;
    overflow-y:scroll;overflow-x:hidden;height:100%
}

/* 头部标题 */
.header {
//padding: 30px;
//text-align: center;
//background: white;
    width: auto;
//justify-content: center;
//position: relative;
//left: 100px;
//background-image: linear-gradient(45deg, #8e9d9d, #79a6a6, #42a2a2);
    display: flex;
}

.header h1 {
    font-size: 50px;
}

/* 导航条 */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* 导航条链接 */
.topnav a,router-link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* 链接颜色修改 */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav router-link:hover {
    background-color: #ddd;
    color: black;
}
.router-link-active{
    background-color: #736b6b;
}

/* 创建两列 */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* 右侧栏 */

/* 图像部分 */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    display: flex;
}
.fakeimg .left{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
//background-color: #f1f1f1;
//flex-wrap: wrap;
}


/* 文章卡片效果 */

/* 列后面清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* 底部 */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 800px) {
}

/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}